<% if !flash[:error].blank? %>
<div class="error">
  <% flash[:error].each do |error| %>
    <p><%= error %></p>
  <% end %>
</div>
<% end %>

<%= link_to("<< Back to List", pages_path(:subject_id => @subject.id), :class => 'back-link') %>

<div class="pages new">
  <h2>Create Page</h2>

  <%= form_for(@page, :url => pages_path(:subject_id => @subject.id), :method => 'post') do |f| %>

    <%= render(partial: 'form', :locals =>{ f: f } )%>

    <div class="form-buttons">
      <%= f.submit("Create Page") %>
    </div>

  <% end %>
</div>
