<h1>All Users</h1>
<%= link_to("Create User", new_admin_user_path) %>
<%= link_to("<< Back to Menu", access_menu_path, class: "back-link") %>
<div class="users index">
  <p><%= pluralize(@users.count, 'user')%> found </p>
<table class="listing" summary="Users listing">
  <tr>
  <th>Username</th>
  <th>name</th>
  <th>Email</th>
  <th>Actions</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.name %></td>
    <td><%=mail_to(user.email) %></td>
    <td>
      <%=link_to("Edit", edit_admin_user_path(user)) %>
      <%= link_to('Delete', delete_admin_user_path(user))%>
    </td>
  </tr>
<% end %>
</table>
</div>
